<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h1 class="text-center">Main page</h1>
        <pre><code><%= @profile %></code></pre>
      </div>
    </div>
  </div>
</section>