header {
  .user-header-icon {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 25%;
  }
}